@media only screen and (max-width: 1000px) {
  .full-name {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .form-group label,
  .form-group input {
    display: block;
  }
  .form-group input {
    width: 100%;
  }
}

/* Styles for tablets (768px and smaller) */
@media only screen and (max-width: 768px) {
  .hero-container {
    height: 500px;
  }
  .hero-heading {
    font-size: 4rem;
  }
  .hero-desc {
    font-size: 2rem;
  }
  .hero-button {
    font-size: 1.4rem;
  }

  .content {
    max-width: 90%;
  }
  .featured-desc {
    max-width: 80%;
  }

  .city-postcode {
    grid-template-columns: 1fr;
  }
}

/* Styles for mobile devices (600px and smaller) */
@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .order-form {
    order: 2;
  }

  .store-image {
    order: 1;
    height: 50vh;
  }

  .nav-links {
    gap: 1.2rem;
  }

  .hero-container {
    height: 400px;
  }
  .content span p {
    font-size: 1.3rem;
  }
  .featured-desc {
    max-width: 90%;
  }
  .color-selection label {
    display: block;
    margin-bottom: 1rem;
  }
  .terms-conditions {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .nav-links {
    flex-wrap: wrap;
  }
}
