/* Styling for Store page */

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* hero image of the store page */
.store-image {
  color: white;
  background-image: url(../img/store-image_by-andrew-neel-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
  width: auto;
  height: 100vh;
  /* margin-left: 2rem; */
}

/* order form styling */
.order-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.store-hero-heading {
  color: var(--main-color);
  font-size: 2.8rem;
  font-weight: 500;
}

.order-form {
  /* max-width: 80rem; */
  margin: 0 auto;
  padding: 5rem;
  font-size: 1.5rem;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.full-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: span 2;
  gap: 0 2rem;
}

.form-group label,
.form-group input {
  width: 100%;
}

.form-group input,
.address input,
.postcode input {
  padding: 0.8rem;
}

/* margin between labels and textbox/options */
input[type="text"],
select,
#postcode {
  margin-top: 0.5rem;
}

.address {
  grid-column: span 2;
  display: grid;
  gap: 2rem;
}

.address label,
.city-postcode label {
  display: block;
  margin-bottom: 0.5rem;
}

.address input,
.address select {
  width: 100%;
}

.city-postcode {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

/* Style the select element */
select {
  padding: 0.8rem;
  color: #555;
  cursor: pointer;
  border-radius: 0.5rem;
}

select {
  font-style: italic;
}

select:focus option,
select option {
  font-style: normal;
}

select:valid {
  font-style: normal;
}

.color-selection {
  grid-column: span 2;
  margin-top: 2rem;
}

#color-selection {
  accent-color: var(--main-color);
}

.color-selection label {
  margin-right: 2rem;
}

.color-selection legend {
  margin-bottom: 1rem;
}

.terms-conditions {
  grid-column: span 2;
  margin-top: 2rem;
}

/* #terms-conditions {
  accent-color: var(--main-color);
} */

.store-hero-button {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  background-color: var(--main-color);
  color: var(--light-color);
  border: none;
  border-radius: 0.3rem;
  margin-top: 2rem;
  font-size: 1.6rem;
}

.store-hero-button:hover {
  opacity: 0.9;
  transition: transform 0.1s ease;
  transform: scale(1.05);
}

.terms-conditions a {
  color: var(--main-color);
}

.terms-conditions a:hover {
  opacity: 0.8;
}

.terms-conditions {
  display: flex;
  gap: 0.8rem;
}

/* Hide the default checkbox */
.hide-checkbox[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid #ccc;
  border-radius: 0.2rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem;
}

input[type="checkbox"]:checked {
  background-image: url("../img/checkmark.svg");
}

/* general styling */
input {
  border: 1px solid var(--grey-color);
  border-radius: 0.5rem;
}
